html{
	overflow-y: scroll; 
}
.adminnav{
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	border-color: #252525;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

}
.adminnav .navi{
	list-style: none;
	margin: 0;
}
.adminnav .navi > li {
	float: left;
}
.adminnavbox{
	width: 1200px;
	margin: 0 auto;
}
.adminnav .navi > li > a {
	color: #999999;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
	padding: 10px 15px 10px;
	display: block;
}

.adminnav .navi > li > a:hover,
.adminnav .navi > li > a:focus {
	color: #ffffff;
}
.adminnav .navi > li.active > a{
	color: #ffffff;
	background-color: #111111;
}


.adminbox{
	width: 1200px;
	margin: 0 auto;
}

.add-action{
	padding: 10px;
}
.add-list{
	padding-bottom: 20px;
}

.add-list .table tbody tr td:first-child{
	vertical-align: middle;
	text-align: center;
}

.add-list .table tbody tr td:last-child{
	text-align: right;
}


.add-list .btn-rm{
	display: none;
}
.add-list .table tbody tr:hover .btn-rm{
	display: inline-block;
}

.add-save{
	text-align: center;
}
.add-save .btn{
	width: 150px;
}

.edit-image{
	float: left;
}
.edit-table{
	padding: 20px 10px;
}
.edit-body{
	margin-left: 20px;
	float: left;
}
.edit-row{
	margin-bottom: 16px;
}
.edit-label{
	float: left;
	width: 70px;
	text-align: right;
	padding: 4px 6px;
}
.edit-control{
	margin-left: 100px;
}
.edit-save{
	margin-left: 390px;
}
.edit-save .btn{
	width: 100px;
}
.edit-control textarea{
	min-height: 85px;
}

.thumbnail{
	background-color: #FFFFFF;
	width: 250px;
	height: 250px;
}
.thumbnailbox{
	width: 250px;
	height: 250px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.mask{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1000;
	display: none;
}
.add-success,
.edit-success{
	top: 50%;
	margin-top: -105px;
	display: none;
}
.add-loading,
.edit-loading{
	width: 200px;
	margin-left: -100px;
	top: 50%;
	margin-top: -45px;
	display: none;
}
.loading{
	background: url(../images/icon-loading-large.gif) no-repeat;
	padding-left: 50px;
	line-height: 32px;
}
.h-tagslist{
	list-style: none;
	margin: 0;
	width: 700px;
}
.h-tagslist li{
	background: #d9e7fe;
	border: 1px solid #9cb0d8;
	padding: 5px 5px 5px 8px;
	float: left;
	cursor: default;
	margin-right: 5px;
	margin-bottom: 5px;
}
.h-tagslist li a{
	visibility: hidden;
	text-decoration: none;
	color: #aeb8cb;
	cursor: pointer;
	font-size: 20px;
	float: right;
}
.h-tagslist li a:hover{
	color: #222222;
}
.h-tagslist li:hover{
	border-color: #869EC9;
}
.h-tagslist li:hover a{
	visibility: visible;
}

li.h-tagslist-add{
	padding: 4px 5px 4px 8px;
}
li.h-tagslist-add a{
	visibility: visible;
	margin-left: 5px;
}
.h-tagslist-add input{
	border: 1px solid #d9d9d9;
	padding: 0px;
	margin: 0px;
	height: auto;
	background-color: #FFF;
	outline: none;
	box-shadow: none;
	transition: none;
	border-radius: 0;
	width: 80px;
}
.h-tagslist-add input:focus{
	border: 1px solid #4D90FE;
	box-shadow: none;
};