/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-style:normal; font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
abbr,acronym{border:0}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse:collapse; border-spacing:0;}
/* ----- common class ------ */
:focus {outline-color: -moz-use-text-color;outline-style: none;outline-width: 0;}
.clr:after {content: ".";display: block; height: 0; clear: both; visibility: hidden;}
.clr{zoom:1;}

/* common */