.info{
	position: relative;
	z-index: 1;
}
.info h2{
	color: #ff6600;
	font-size: 22px;
	font-family: "Microsoft Yahei";
	font-weight: normal;
	margin-bottom: 16px;
}
.info p{
	color: #999999;
	margin: 5px 0;
}
.info-tit{
	font-weight: bold;
	margin-right: 5px;
}

.info-admin{
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
}
.info:hover .info-admin{
	display: block;
}

.btn{
	float: right;
	margin-top: 5px;
	position: relative;
	z-index: 2;
}

.view{
	text-align: center;
	padding: 10px 0;
}