body{
	background-color: #FFF;
}
#header .container{
	padding-top: 20px;
	padding-bottom: 20px;
}
#header .logo{
	float: left;
	height: 51px;
}
#header .search{
	float: right;
	margin: 10px 10px 0 0;
}
#header .searchtxt{
	padding: 7px;
	border: 1px solid #E9E9E9;
	width: 150px;
	color: #000;
}
#header .searchbtn{
	border: 1px solid #A1A1A1;
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	padding: 6px 20px;
	border-color: #F46E00;
	background: #FC8700;
	color: #FFFFFF;
}
#header .searchbtn:hover {
	border-color: #ff8928;
	background: #ff9f30;
	color: #FFFFFF;
}

#header .searchbtn:active{
	border-color: #c15700;
	background: #c96c00;
	color: #FFFFFF;
}

#nav .container{
	padding-top: 10px;
	padding-bottom: 10px;
}
#nav .navline{
	height: 8px;
	background-color: #b2b2b2;
	margin-bottom: 20px;
}

#footer{
	margin-top: 10px;
}
#footer .container{
	border-top: 1px solid #ccc;
}
#footer .footerinfo{
	float: right;
	line-height: 32px;
}


.pagination{
    height:24px;
    overflow:hidden;
    padding:10px 0;
    color:#999999;
}
.pagination a,
.pagination span{
    display:inline-block; 
    display:-moz-inline-stack;
    zoom:1; 
    *display:inline;
    margin-right:4px;
    text-decoration:none;
    border-radius: 2px;
}
.pagination .prev,
.pagination .next{
    width:54px;
    height:24px;
    line-height:24px;
    text-align:center;
    border:1px solid #ccc;
    background:#fff;
}
 
.pagination span.prev,
.pagination span.next{
    cursor:not-allowed;
}
 
.pagination a.num,
.pagination span.num{
    width:24px;
    height:24px;
    line-height:24px;
    text-align:center;
    border:1px solid #ccc;
    background:#fff;
}
.pagination span.num{
    border: 1px solid #FD6D01;
    color: #FD8101;
    background-color: #FFEDE1;
    font-weight: bold;
}
.pagination a.prev:hover,
.pagination a.next:hover,
.pagination a.num:hover{
    /*border:1px solid #ccc;*/
    border-color: #FD6D01;
    /*color: #666666;*/
}

.big-btn, .big-btn:hover{
	color: #646464;
	text-decoration: none;
}
.big-btn{
	border: 1px solid #A1A1A1;
	background: #FAFAFA;
	padding: 8px 20px;
	font-size: 14px;
	display: inline-block;
}
.big-btn:hover{
	background: #e1e1e1;
}
.big-btn .icon{
	margin-right: 8px;
}

.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	overflow: hidden;
	color: transparent;
	text-decoration: none;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
}
.icon-download{
	background-position: left top;
}
.icon-src{
	background-position: right top;
}